
@{
    ViewBag.Title = "Deleverdfood";
}

<h2>Deleverdfood</h2>

<table class="table table-bordered">
    <tr>
        <th>
            Food Name
        </th>
        <th>
            Preserve time
        </th>
        <th>
            Food Amount
        </th>
        <th>
            Location
        </th>
        <th>
            Status
        </th>
        <th>
            Restaurant name
        </th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.FoodName
            </td>
            <td>
                @item.PreserveTime
            </td>
            <td>
                @item.FoodAmount
            </td>
            <td>
                @item.Location
            </td>
            <td>
                @item.Status
            </td>
            <td>
                @item.Restaurant.ResName
            </td>
            <td>
                @* <a class="btn btn-success" @Html.ActionLink("Details", "Details", new { id = item.FoodId })> </a>*@
                @Html.ActionLink("Details", "Details", new { id = item.FoodId }, new { @class = "btn btn-success" })
            </td>



            <!--<td>-->
            @*@Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })*@
            <!--</td>-->
        </tr>
    }

</table>
