
@{
    ViewBag.Title = "Index";
}

<h2>FoodList</h2>

@*<p>
    <a class="btn btn-primary" href="/Food/Create">Donate Food</a>
</p>*@
<table class="table table-bordered">
    <tr>
        <th>
            Food Name
        </th>
        <th>
            Preserve time(Hr)
        </th>
        <th>
            Food Amount(Person)
        </th>
        <th>
            Location
        </th>
        <th>
            Status
        </th>
        <th>
            Restaurant name
        </th>
      
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.FoodName
            </td>
            <td>
                @item.PreserveTime
            </td>
            <td>
                @item.FoodAmount
            </td>
            <td>
                @item.Location
            </td>
            <td>
                @item.Status
            </td>
            <td>
                @item.Restaurant.ResName
            </td>
        </tr>
    }

</table>

